@font-face {
  font-family: 'Atkinson';
  src: url('/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Atkinson, sans-serif;
}

@font-face {
  font-family: 'Atkinson-Bold';
  src: url('/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2');
  font-weight: bold;
}

strong,
b {
  font-family: Atkinson-Bold, sans-serif;
}

@font-face {
  font-family: 'Atkinson-Italic';
  src: url('/assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2');
  font-weight: normal;
  font-style: italic;
}

i {
  font-family: Atkinson-Italic, sans-serif;
}

@font-face {
  font-family: 'Atkinson-Bold-Italic';
  src: url('/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2');
  font-weight: bold;
  font-style: italic;
}

b > i,
i > b {
  font-family: Atkinson-Bold-Italic, sans-serif;
}

/* @font-face {
  font-family: 'Oswald';
  src: url('/public/assets/fonts/Merriweather-Regular.ttf');
  font-weight: regular;
  font-style: regular;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, serif;
} */
