/* Common defaults */
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Responsive images */
img {
  max-width: 100%;
  display: block;
}

/* My settings */
:root {
  /* https://www.realtimecolors.com/?colors=08170f-f1faf6-0b46db-a0c9df-d80f8b&fonts=Poppins-Poppins */
  --primary: #0b46db;
  --accent: #d80f8b;

  --one-edge-padding: 1.5rem;
  --both-side-spaing: var(--one-edge-padding) * 2;

  /* https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --fs-300: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --fs-400: clamp(1.35rem, 1.2048rem + 0.7261vw, 1.7675rem);
  --fs-500: clamp(1.62rem, 1.3141rem + 1.5293vw, 2.4994rem);
  --fs-600: clamp(1.9438rem, 1.3907rem + 2.7652vw, 3.5338rem);
  --fs-700: clamp(2.3325rem, 1.4058rem + 4.6337vw, 4.9969rem);
  --fs-800: clamp(2.7994rem, 1.3155rem + 7.4196vw, 7.0656rem);
}

.wrapper {
  width: min(100% - var(--both-side-spaing), 60ch);
  min-width: calc(320px - var(--both-side-spaing));
  margin-inline: auto;
}

.flow :not(h1) {
  margin-top: 1em;
}

body {
  font-size: var(--fs-300);
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--fs-600);
}

h2 {
  font-size: var(--fs-500);
}

h3 {
  font-size: var(--fs-400);
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
  margin-bottom: 2rem;
}

a {
  color: var(--accent);
}

.nav-links a {
  /* display: block; */
  /* text-align: center; */
  /* padding: 10px 0; */
  color: var(--accent);
  text-decoration: none;
  /* font-size: 1.2rem; */
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  /* background-color: pink; */
  /* border-bottom: 1px solid black; */
}

.hamburger {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    gap: 1em;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    /* display: inline-block;
    padding: 15px 20px; */
  }

  .hamburger {
    display: none;
  }
}
