---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Welcome to Astro.">
	<main>
		<h1>Matt's Site</h1>
		<p class="instructions">
			<code>#learninpublic</code> 
		</p>
	</main>
</BaseLayout>
