---
import GText from '../components/GText.astro'
import ProjectCard from '../components/ProjectCard.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import {newestFirst} from "../util/sorting";

const allPosts = await Astro.glob('./posts/*.md')
const mostRecentFeatured = allPosts.filter((p) => p.frontmatter.tags?.includes('featured') && !p.frontmatter.draft)
  .sort(newestFirst);
---

<BaseLayout title="Home Page">
  <main class="flow">
    <h1>Hi! I'm
      <GText text="Matt Bishop"/>
    </h1>

    <p>
      I'm a <b>Software Developer</b> who enjoys making things that entertain people.
    </p>

    <section class="flow">
      <h2>Posts</h2>
      <p>
        Here are some of my featured posts, main themes include:
        simulation, game dev, computer graphics, and rendering.
      </p>
      {mostRecentFeatured.map((v) =>
        <ProjectCard markdownData={v}/>)}
      <p>More to come!</p>
    </section>
  </main>
</BaseLayout>
