---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
import {newestFirst} from "../util/sorting";

const allPosts = await Astro.glob('../pages/posts/*.md');
const visiblePosts = allPosts
  .filter((p) => !p.frontmatter.draft)
  .sort(newestFirst);
---

<BaseLayout title="Blog">
  <main>
    <h1>Posts</h1>
    <p>Here they are:</p>
    <ul>
      {
        visiblePosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
