---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Projects">
  <main class="flow">
    <h1>Projects</h1>
    <p>
      Here is a list of projects I've worked on during work, school, and my
      personal time.
    </p>
  </main>
</BaseLayout>
