---
import Social from './Social.astro'

const year = new Date().getFullYear();
---

<footer>
  <p>© {year} Matt Bishop</p>
  <div>
    <Social platform="github" username="matt-bp" />
    <Social platform="linkedin" username="in/mattbp" />
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
