---
import Social from './Social.astro'
---

<footer>
  <p>Learn more about my projects on</p>
  <Social platform="github" username="matt-bp" />
</footer>

<style>
  footer {
    margin: auto;
    max-width: 60ch;
  }
</style>
