---
const { text } = Astro.props
---

<span>{text}</span>

<style>
  span {
    background: linear-gradient(93deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    color: transparent;
    text-wrap: nowrap;
  }
</style>
