---
import Hamburger from './Hamburger.astro'
import Navigation from './Navigation.astro'
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header {
    margin: auto;
    border: 1px solid var(--clr-border);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem;
  }
</style>
