---
import NavLink from './NavLink.astro'
---

<div class="nav-links">
  <NavLink text="/home" url="/" />
  <!--<NavLink text="/projects" url="/projects" />-->
  <!-- <a href="/about">About</a> -->
  <NavLink text="/posts" url="/posts" />
  <!-- <a href="/tags">Tags</a> -->
</div>
