---
import Linkedin from '../icons/linkedin.astro'
import Menu from '../icons/menu.astro'
import GitHubCircle from '../icons/GitHubCircle.astro'
const { platform, username } = Astro.props

const t = true ? Linkedin : Menu
---

<a href={`https://www.${platform}.com/${username}`}>
  {
    platform == 'github' ? (
      <GitHubCircle />
    ) : platform == 'linkedin' ? (
      <Linkedin />
    ) : null
  }
</a>
