---
import Linkedin from './icons/linkedin.astro'
import GitHubCircle from './icons/GitHubCircle.astro'
const { platform, username } = Astro.props
---

<a href={`https://www.${platform}.com/${username}`}>
  {
    platform == 'github' ? (
      <GitHubCircle />
    ) : platform == 'linkedin' ? (
      <Linkedin />
    ) : null
  }
  <span class="hidden">Link to {platform} account.</span>
</a>

<style>
  a {
    text-decoration: none;
  }
</style>
